.vercel
/node_modules
**/node_modules
/package-lock.json
/.turbo
/.playwright
/.cache
/.vite
**/.vite
/dist
/coverage
**/dist
**/coverage
/.env
/.env.local
/.env.*.local
**/.env
**/.env.local
**/.env.*.local
!/.env.example
!**/.env.example
playwright-report
test-results
